version: '3.2'

services:
  nginx-fpm:
    build:
      context: ./nginx-fpm
      dockerfile: Dockerfile
    ports:
      - 3081:80
    volumes:
      - ./nginx-fpm/laravel:/var/www/html
    environment:
      PUID: 1000
      PGID: 1000
      COMPOSER_HOME: /var/www/.composer
      PHP_DATE_TIMEZONE: "Europe/Bucharest"
      PHP_FPM_PM_CONTROL: "static"
      PHP_FPM_PM_MAX_CHILDREN: "100"
      PHP_FPM_PM_MAX_REQUESTS: "1000"
      PHP_POST_MAX_SIZE: "1024M"
      PHP_UPLOAD_MAX_FILESIZE: "1024M"
      AUTORUN_LARAVEL_STORAGE_LINK: false
      SSL_MODE: off
      LOG_CHANNEL: 'null'
      APP_KEY: base64:cqHXfArPZHa338TtFlteQgsOZk2nZEBTPqaxIeAqztM=
      APP_URL: http://localhost:3081
  
  nginx-unit:
    build:
      context: ./nginx-unit
      dockerfile: Dockerfile
    ports:
      - 3082:80
    volumes:
      - ./nginx-unit/laravel:/var/www/html
    environment:
      PUID: 1000
      PGID: 1000
      COMPOSER_HOME: /var/www/.composer
      PHP_DATE_TIMEZONE: "Europe/Bucharest"
      PHP_POST_MAX_SIZE: "1024M"
      PHP_UPLOAD_MAX_FILESIZE: "1024M"
      AUTORUN_LARAVEL_STORAGE_LINK: false
      SSL_MODE: off
      LOG_CHANNEL: 'null'
      APP_KEY: base64:cqHXfArPZHa338TtFlteQgsOZk2nZEBTPqaxIeAqztM=
      APP_URL: http://localhost:3082
  
  roadrunner:
    build:
      context: ./laravel-roadrunner
      dockerfile: Dockerfile
    ports:
      - 3083:80
    volumes:
      - ./laravel-roadrunner/laravel:/var/www/html
    environment:
      PUID: 1000
      PGID: 1000
      COMPOSER_HOME: /var/www/.composer
      PHP_DATE_TIMEZONE: "Europe/Bucharest"
      PHP_POST_MAX_SIZE: "1024M"
      PHP_UPLOAD_MAX_FILESIZE: "1024M"
      AUTORUN_LARAVEL_STORAGE_LINK: false
      SSL_MODE: off
      LOG_CHANNEL: 'null'
      APP_KEY: base64:cqHXfArPZHa338TtFlteQgsOZk2nZEBTPqaxIeAqztM=
      APP_URL: http://localhost:3083
  
  swoole:
    build:
      context: ./laravel-swoole
      dockerfile: Dockerfile
    ports:
      - 3084:80
    volumes:
      - ./laravel-swoole/laravel:/var/www/html
    environment:
      PUID: 1000
      PGID: 1000
      COMPOSER_HOME: /var/www/.composer
      PHP_DATE_TIMEZONE: "Europe/Bucharest"
      PHP_POST_MAX_SIZE: "1024M"
      PHP_UPLOAD_MAX_FILESIZE: "1024M"
      AUTORUN_LARAVEL_STORAGE_LINK: false
      SSL_MODE: off
      LOG_CHANNEL: 'null'
      APP_KEY: base64:cqHXfArPZHa338TtFlteQgsOZk2nZEBTPqaxIeAqztM=
      APP_URL: http://localhost:3084
  
  nest:
    build:
      context: ./js-nest
      dockerfile: Dockerfile
    ports:
      - "3080:3000"
  
  goravel:
    build:
      context: ./go-goravel
      dockerfile: Dockerfile
    ports:
      - "3090:3000"
    environment:
      APP_KEY: Dv5Qkt3gOqwmstfPPlt4mKxQL7v38f0c
      APP_HOST: 0.0.0.0
      APP_URL: http://localhost:3090
  